:root {
    --primario: #7ABE47;
    --secundario: #ffc845;
    --negro: #000000;
    --claro: #ffffff;
    --gris: #eeeeee;
    --oscuro: #57a42b;
    --padding: 1rem;
    --padding2: 2rem;
    --border: 1px solid #aaa;
    --borderPrimario: 1px solid var(--primario);
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    margin: 1rem 0;
}

h1 {
    font-weight: 2.4rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}


p {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}


html {
    box-sizing: border-box;
}

body {
    background-color: var(--gris);
    font-family: 'Roboto', sans-serif;
}


.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


.header {
    margin-top: 2rem;
    background-color: var(--primario);
    padding: var(--padding);
}

.header .barra {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 2rem;
    justify-content: center;
}

.header .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.header .menu a {
    text-align: center;
    color: var(--claro);
    text-decoration: none;
    font-size: 1.4rem;
}

@media (min-width:992px) {
    .header .barra {
        grid-template-columns: 30% 1fr 30%;
        justify-content: space-around;
        grid-template-rows: unset;
    }
}

.header .menu {
    grid-column: 3/4;
    display: grid;
    align-content: center;
}

@media(min-width:992px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        text-align: left;
        margin-top:2rem;
    }
}

.contenido-nosotros {
    display: grid;
    align-content: center;
}

.ventas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
}

.ventas img {
    width: 100%;
}

.destacada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    grid-gap: 1rem;
}

@media(min-width:768px) {
    .ventas {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

.card {
    background-color: var(--claro);
    padding: var(--padding);
    border: var(--border);
}

.card .titulo{
    text-align: center;
}

.card p {
    font-size: .9rem;
    line-height: 1.8rem;
}


.anuncio {
    display: grid;
}

.anuncio .precio {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: right;
}

.precio span {
    font-weight: 300;
    color: var(--primario);
}

.boton {
    background-color: var(--primario);
    /*ocupa el 100% de la caja*/
    display: block;
    padding: var(--padding);
    text-align: center;
    color: var(--claro);
    /* transformamos a mayúsculas */
    text-transform: uppercase;
    text-decoration: none;
    /* Transición de .5 segundos al cambiar a hover. */
    transition: all .3s ease;
    border: var(--borderPrimario);
}

.boton:hover {
    background-color: var(--claro);
    color: var(--primario);
    border: var(--borderPrimario);
}

/* Footer */
.footer {
    background-color: var(--primario);
    padding-top: var(--padding2);
    color: var(--claro);
}

@media (min-width:768px) {
    .footer .contenedor {
        display: grid;
        grid-template-columns: 30% 20% 2fr;
        grid-column-gap: 2rem;
    }
}

.footer .widget h3 {
    margin-bottom: 2rem;
    text-align: center;
}

.footer .navegacion a {
    display: block;
    color: var(--blanco);
    font-size: 1.4 rem;
    margin-bottom: 1rem;
    text-decoration: none;
    text-align: center;
}

.footer .contenedor-casas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 2rem;
}

.footer .casa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.footer .contenedor-casas .casa p {
    margin: 0;
}

.copyright {
    background-color: var(--oscuro);
    /*color de fondo variable oscuro*/
    margin: 3rem 0 0 0;
    /*margin: 0 para quitar la franja blanca de abajo;*/
    text-align: center;
    padding: var(--padding);
}